@model Movies.Model.VM.MovieVM
<form method="post" asp-action="Create" asp-controller="Movie" enctype="multipart/form-data">
    <input asp-for="Movies.Id" hidden />
    <input asp-for="Movies.Imageurl" hidden />
        <div class="row">
            <div class="col-10">
                <div class="border p-3 mt-4">
                    <div class="row pb-2">
                    <h2 class="text-primary">@(Model.Movies.Id!=0 ? "Update" : "Create")Movie</h2>
                    </div>
                </div>
                        <div class="mb-3">
                <label asp-for="Movies.Title"></label>
                <input asp-for="Movies.Title" rows="3" class="form-control" />
                <span asp-validation-for="Movies.Title" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                <label asp-for="Movies.Description"></label>
                <input asp-for="Movies.Description" rows="3" class="form-control" />
                <span asp-validation-for="Movies.Description" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                <label asp-for="Movies.Price"></label>
                <input asp-for="Movies.Price" rows="3" class="form-control" />
                <span asp-validation-for="Movies.Price" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                <label asp-for="Movies.DateOfRelease"></label>
                <input asp-for="Movies.DateOfRelease" rows="3" class="form-control" />
                <span asp-validation-for="Movies.DateOfRelease" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                <label asp-for="Movies.Imageurl"></label>
                <input type="file" name="formFile" id="uploadbox" class="form-control" accept="image/png, image/gif, image/jpeg" />
                        </div>
            </div>
            @if(Model.Movies.Id != 0)
            {
                <div class="col-2">
                    <img src="\Images\@Model.Movies.Imageurl" width="100" style="border-radius:5px; border:1px solid #bbb9b9" />
                </div>
            
            }
            @if(Model.Movies.Id == 0)
            {
                <div class="col-12">
                    <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
                </div>

            } 
            else
            {
                <div class="col-12">
                    <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
                </div>
            }

        </div>
</form>